html, body {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    height: 80%;
    min-width: 50%;
    
    border-radius: 40px;

    background: lightseagreen;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 36px;
}

input {
    text-align: center;
}

span {
    font-size: 20px;

    padding: 20px;
}

#data {
    height: 75%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background: lightsalmon;
}

#button-div {
    height: 15%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button-div > button {
    
}